body {
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

#description {
    position: fixed;
    top: 40%;
    background-color: #8c8c8c;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#waldemar {
    width: 100%;
}

#text {
    margin-bottom: 75px;
    margin-top: -4%;
}

p {
    margin: 10px;
}

.text-input {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.has-word {
    background-color: #00d6b2 !important;
}

#blocking {
    position: fixed;
    top: 50%;
    text-align: center;
    background-color: #b91313b8;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.word-suggest {
    width: calc(100% - 20px);
    float: none;
    clear: both;
    overflow: hidden;
    position: fixed;
    bottom: 70px;
    left: 10px;
}

.suggest {
    width: 100%; /*width: calc(33.333% - 10px);*/
    padding: 5px 20px;
    min-width: 20px;
    background: #f1f1f1;
    float: left;
    font-size: 14px;
    border-radius: 15px;
    text-align: center;
    box-sizing: border-box;
    word-break: break-all;
    margin-top: 5px;
}

.suggest:not(:last-child) {
    margin-right: 15px;
}

.form {
    padding: 10px;
    background: #f1f1f1;
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
}

input {
    box-shadow: 0px 1px 1px #666;
    border-radius: 40px;
    padding: 5px 15px;
    margin: 0 20px 0 0;
    border: none;
    width: calc(80% - 10px);
    height: 40px;
    box-sizing: border-box;
    float: left;
}

button {
    font-size: 70%;
    border-radius: 40px;
    border: none;
    background: #000;
    width: calc(20% - 10px);
    height: 40px;
    float: left;
    color: #fff;
    text-transform: uppercase;
}